.filters.section {
    background-color: var(--light-grey);
}

.filters.section .wrapper {
    gap: 40px;
}



.filter .wrapper {
    gap: 40px;
}

.filter .wrapper .filter-btn {
    font-size: 18px;
    font-weight: 700;
    opacity: 0.7;
    color: var(--black);
    transition: var(--transition);
}

.filter .wrapper .filter-btn:hover {
    cursor: pointer;
    opacity: 1;
    transition: var(--transition);
}

.filter .wrapper .filter-btn.active {
    opacity: 1;
    transition: var(--transition);
}

/* UNDERLINE ACTIVE FILTERS */
.filter .filter-btn {
    position: relative;
    text-decoration: none;
    padding-bottom: 5px;
}

.filter .filter-btn.active::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary);
    animation: underline_filter 500ms ease-in-out;
}

.wrapper.cards .card:nth-child(1),
.wrapper.cards .card:nth-child(7n-1) {
    flex: 1 0 40%;
}

.wrapper.cards .card.related-card:nth-child(1), 
.wrapper.cards .card.related-card:nth-child(7n-1) {
    flex-flow: column;
    gap: 0;
}

.wrapper.cards .related-card .card-image {
    overflow: unset;
}

.wrapper.cards .card.related-card .card-image {
    flex: 0 1;
}

.wrapper.cards.related-cards .card {
    flex: 1 0;
}

.wrapper.cards.related-cards .card .card-content {
    bottom: 20px;
    left: 20px;
}

.wrapper.cards.related-cards .card .card-content .tag {
    font-size: 14px;
}

.wrapper.cards.related-cards .card .card-content h5 {
    font-size: 18px;
}

.wrapper.cards.related-cards .card .btn {
    font-size: 12px;
    margin-top: auto;
}

.intro h1 {
    font-size: 54px;
    width: 65%;
}

.intro .tag {
    color: var(--light-grey);
}

.intro .row {
    padding-top: 60px;
}

.intro .social-share {
    display: flex;
    gap: 10px;
}

.intro .social-share a {
    font-size: 30px;
    color: #D3D3D3;
    transition: var(--transition);
}

.intro .social-share a:hover {
    cursor: pointer;
    color: var(--primary);
    transition: var(--transition); 
}

.content.section .row,
.intro.section .row {
    max-width: unset;
    width: 70%;
}

.content .container {
    position: relative;
    width: 100%;
}

.content .container,
.content .container img,
.content .container .overlay {
    height: 40vh;
    border-radius: var(--borderRadius);
}

.content .container .overlay {
    background: var(--black);
}

.content .container img {
    width: 100%;
    object-fit: cover;
}

.content .container .container-content {
    position: absolute;
    bottom: 40px;
    left: 40px;
    z-index: 10;
}

.content .container .container-content h5,
.content .container .container-content p {
    color: var(--white);
}

.content .container .container-content h5 {
    font-size: 46px;
    font-weight: 700;
}

.content .podcast-wrapper {
    width: 100%;
    display: flex;
    margin: 0 auto;
}

.content .podcast-wrapper iframe {
    width: 100%;
    height: 30vh;
}

.content .timestamp {
    display: flex;
    gap: 5px;
}

.content .mt-60 {
    margin-top: 60px;
}